@use '../style/App.scss' as *;

.aboutHeader {
    background-color: $prim-dark-col;
    color: $prim-light-col;
}

.about-header-text {
    width: clamp(16rem, 90vw, 40rem);
    margin-inline: auto;
}

.about-text-box {
    width: 100%;
}

@media (min-width: 720px) {
    .about-text-box {
        width: 90%;
    }
}

@media (min-width: 960px) {
    .about-text-box {
        width: 85%;
    }
}
