@use '../../style/App.scss' as *;

.bidcard {
    background-color: $prim-card-col;
    border-radius: $border-radius;
    width: clamp(340px, 30vw, 500px);

    border-style: solid;
    border-color: $prim-border-col;
    border-width: 1px;
}

.bidcard p {
    margin: 0;
    padding: 0;
}

.activebid {
    border-radius: 0.5rem;
    background-color: $prim-sec-col;
}

.bidbuttonwidth {
    width: clamp(280px, 20vw, 550px);
}
