@use '../../style/App.scss' as *;

.Header {
    background-color: $prim-back-col;
    color: $prim-dark-col;

    margin: 0;
    padding-block: clamp(1rem, 2vw, 2rem);
    padding-inline: clamp(1rem, 4vw, 3rem);

    border-style: solid;
    border-color: $prim-border-col;
    border-width: 0 0 1px 0;

    box-shadow: 0 0 10px 0 $acc-opac-col;
}

.navbarConatiner {
    width: clamp(300px, 70%, 1200px);
}

.navbar-style .navbar-collapse {
    margin-top: 0.4rem;
    margin-left: auto;
    border-radius: $border-radius;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.navbar-style .navbar-collapse .nav-link {
    padding: 0.5rem 0.7rem;

    &:hover {
        background-color: $prim-col;
        color: $prim-light-col;
        border-style: solid;
        border-color: $prim-border-col;
        border-width: 1px;
    }

    &:active {
        background-color: $prim-col;
        color: $prim-light-col;
        border-style: solid;
        border-color: $prim-border-col;
        border-width: 1px;
    }
}

.Footer {
    background-color: $prim-dark-col;
    color: $prim-light-col;

    margin: 0;
    padding-block: clamp(2rem, 4vw, 4rem);
    padding-inline: clamp(1rem, 4vw, 3rem);

    box-shadow: 10px 0 0 0 $acc-opac-col;
}

.footer-links p {
    margin: 0;
}
