@use '../../style/App.scss' as *;

.house-box p {
    margin: 0;
}
.text-date-price {
    flex-direction: column;
}

.text-description {
    background-color: $prim-card-col;
    border-radius: $border-radius;

    border-style: solid;
    border-color: $prim-border-col;
    border-width: 1px;
}

.text-detials {
    width: 100%;
}

@media (min-width: 720px) {
    .text-detials {
        width: 100%;
    }
}

@media (min-width: 960px) {
    .text-date-price {
        flex-direction: row;
    }
    .text-date {
        margin-left: auto;
    }

    .text-detials {
        width: 80%;
    }
}
