@use '../../style/App.scss' as *;

.house-box p {
    margin: 0;
}

.text-description {
    background-color: $prim-card-col;
    border-radius: $border-radius;

    border-style: solid;
    border-color: $prim-border-col;
    border-width: 1px;
}
