@use '../../style/App.scss' as *;

.housecards {
    background-color: $prim-card-col;
    border-radius: $border-radius;
    width: clamp(340px, 35vw, 600px);

    border-style: solid;
    border-color: $prim-border-col;
    border-width: 1px;
}

.housecards p {
    margin: 0;
    padding: 0;
}

.buttonwidth {
    width: clamp(280px, 20vw, 550px);
}
